body {
    padding-top: 20px;
    padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
    margin: 0 auto;
    max-width: 700px;
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 60px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

/* Better Transitions */
* {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    -ms-transition: 1s;
    transition: 1s;
}

img {
    max-width: 100%;
    margin: auto;
    display: block;
    box-shadow: 1px 1px 12px #555;
    border-radius: 5px;
}

/* All tags page */
#all-tags {
    /* text-align: center; */
}

#all-tags ol {
    list-style-type: none;
    padding-left: 0;
}

#all-tags li {
    font-size: 1.3em;
    margin-top: 1em;
}

div.social {
    margin-top: 2em;
    text-align: center;
}

div.social p {
    font-style: italic;
}

#share
{
    width: 55%;
    margin: auto;    
    list-style: none;
}
#share li  
{
    margin-left: 0.3em;
    float:left;
}

