{%include "head.twig" %}
        <!-- Don't show breadcrumbs on first page -->
        {% if not is_front_page %}
			<div class="navigation-block">
				<ul class="xbreadcrumbs" id="breadcrumbs-1">
					{% for page in pages %}
						{% if not page.date %}
						<li><a href="{{ page.url }}">{{ page.title }}</a></li>
						{% endif %}
					{% endfor %}
				</ul>

			</div>
        {% endif %}
        <div class="container-narrow">
			<h3 class="muted"><a href="{{ base_url }}">{{ site_title }}</a></h3>

            <hr />

            {% if is_front_page %}
			<div class="jumbotron">
				<h1>{{ site_title }}</h1>
				<div class="lead">
					{{ content }}
				</div>
			</div>

			<hr>

			{% for page in pages %}
				{% if page.date %}
				<div class="row-fluid post-listing">
					<div class="span3 text-right hidden-phone">
						<p class="meta muted">{{ page.date_formatted }}</p>
					</div>
					<div class="span9">
						<p><a href="{{ page.url }}">{{ page.title }}</a></p>
					</div>
				</div>
				{% endif %}
			{% endfor %}
            {% elseif pages and not meta.tags and meta.title != 'Error 404' %}
            <!-- tags page -->
                <p>Posts tagged <a href="{{ page.url }}">#{{ current_tag }}</a>:</p>
                {% for page in pages %}
                    {% if page.date %}
                        <article>
                            <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
                            <p class="meta">Posted on {{ page.date_formatted }} by {{ page.author }}
                                <span class="tags"><br />Tags:
                                    {% for tag in page.tags %}
                                        <a href="{{ base_url }}/tag/{{ tag }}">#{{ tag }}</a>
                                    {% endfor %}
                                </span>
                            </p>
                            <p class="excerpt">
                                {{ page.excerpt }}
                                <a href="{{ page.url }}">Lire la suite</a>
                            </p>
                        </article>
                    {% endif %}
                {% endfor %}
            <!-- tags page -->
			{% else %}
            <!-- post -->
			<div class="row-fluid marketing">
				<div class="span12">
					<h1>{{ meta.title }}</h1>
                        {%if meta.date %}
                            <p class="lead meta muted">{{ meta.date_formatted }}</p>
                        {% endif %}
                    {{ mcb_toc }}
					{{ content }}
				</div>
			</div>
            <!-- post -->
			{% endif %}

{% include "foot.twig" %}
